<div class="allContent">
    <br>
    <h2>Description</h2>
    <p>Basketball Stats Site is a demo stats site that shows up to date NBA player and team statistics in an easy to use format. This website is not for profit and is simply a demo of my (Majuth Kirakalaprathapan) developer abilities.</p>
    <br>
    <h2>How it works</h2>
        <h3>1. Searching a Player or Team</h3>
            <p>Use the auto completing search bar to help search for current players or teams on your mind.</p>
            <p>Or use the navbar tabs at the top to choose a team or popular player.</p>
        <h3>2. Resulting Data</h3>
            <p>If the player is a current player you will be able to see their NBA picture and their associated data.</p>
            <p>The data inculdes personal data aswell as current season stats and previous season stats if available (Note: Only past 2 season stats will be able de to API performance).</p>
    <br>
    <h2>Utilizes</h2>
    <div class="logoDiv">
            <div class="card logoContent"><img src="../../assets/logos/angular.png" alt ="angular" class="logoPics">
                <div class="card-body">Angular</div>
            </div>
            <div class="card logoContent"><img src="../../assets/logos/html.png" alt ="html" class="logoPics" style="height:75px; margin-top: 35px;">
                <div class="card-body">HTML</div>
            </div>
            <div class="card logoContent"><img src="../../assets/logos/javascript.png" alt ="javascript" class="logoPics" style="height:65px; margin-bottom: 35px; margin-top: 40px;">
                <div class="card-body">Javascript</div>
            </div>
            <div class="card logoContent"><img src="../../assets/logos/css.png" alt ="css" class="logoPics" style="height:75px; margin-top: 35px;">
                <div class="card-body">CSS</div>
            </div>
            <div class="card logoContent"><img src="../../assets/logos/rest.png" alt ="rest" class="logoPics" style="height:95px; margin-bottom: 20px; margin-top: 25px;">
                <div class="card-body">REST APIs </div>
            </div>
            <div class="card logoContent"><img src="../../assets/logos/bootstrap.png" alt ="bootstrap" class="logoPics" style="height:70px; margin-bottom: 32px; margin-top: 38px;">
                <div class="card-body">Bootstrap</div>
            </div>
    </div>
    <br>
    <h2>Credits</h2>
    <p>Code is written by Majuth Kirakalaprathapan, data is provided by Balldontlie API and NBA Stats. Images are property of the NBA and icons are property of their creators.</p>
</div>