<!--
<p>team works!</p>
<p>Team Selected ID: {{teamID}}</p>
<div *ngFor="let item of teamData">
    {{item}}
</div>
-->
<div *ngIf="!loading">
    <br>
    <div class="container contentBox">
        <div class="row currentInfo">
          <div class="col-md-3 col-sm-7 col-7">
            <img alt="{{teamData[5]}} logo" src="../../assets/teamLogos/{{teamID}}.svg" class="mainTeamLogo">
          </div>
          <div class="col-md-9 col-sm-5 col-5">
            {{teamData[5] + " (" + teamData[1] + ")"}}
            <br>
            {{teamData[3] + "ern Conference"}}
            <br>
            {{teamData[4] + " Division"}}
          </div>
        </div>
        <div class="row currentStats">
          <div class="col-md-3 col-sm-6 col-6">
            PPG {{teamAvg[nbaTeamID[teamID - 1]].ppg.avg}} | {{teamAvg[nbaTeamID[teamID - 1]].ppg.rank}}
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            RPG {{teamAvg[nbaTeamID[teamID - 1]].trpg.avg}} | {{teamAvg[nbaTeamID[teamID - 1]].trpg.rank}}
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            APG {{teamAvg[nbaTeamID[teamID - 1]].apg.avg}} | {{teamAvg[nbaTeamID[teamID - 1]].apg.rank}}
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            SPG {{teamAvg[nbaTeamID[teamID - 1]].spg.avg}} | {{teamAvg[nbaTeamID[teamID - 1]].spg.rank}}
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            FG% {{teamAvg[nbaTeamID[teamID - 1]].fgp.avg}} | {{teamAvg[nbaTeamID[teamID - 1]].fgp.rank}}
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            3P% {{teamAvg[nbaTeamID[teamID - 1]].tpp.avg}} | {{teamAvg[nbaTeamID[teamID - 1]].tpp.rank}}
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            FT% {{teamAvg[nbaTeamID[teamID - 1]].ftp.avg}} | {{teamAvg[nbaTeamID[teamID - 1]].ftp.rank}}
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            EFF {{teamAvg[nbaTeamID[teamID - 1]].eff.avg}} | {{teamAvg[nbaTeamID[teamID - 1]].eff.rank}}
          </div>
          
        </div>
      </div>

    <h2> Games </h2>
    <div class="statsTableWrapper">
      <table class="statsTable">
        <tr class="statsTableHeader">
          <th id="dateCol">Date</th>
          <th id="homeCol"></th>
          <th style="text-align: center;">Score</th>
          <th id="awayCol"></th>
          <th id="timeCol">Time</th>
        </tr>
        <tr *ngFor="let game of teamGames">
          <td id="dateCol">{{game.date| date: 'EEE MM-dd-yyyy'}}</td>
          <td id="homeCol">HOME</td>
          <td id="scoreCol" style="text-align: center;"><img alt="{{teamData[5]}} logo" style="height: 30px" src="../../assets/teamLogos/{{game.home_team.id}}.svg">{{game.home_team.abbreviation + " " + game.home_team_score + " - " + game.visitor_team_score + " " + game.visitor_team.abbreviation}}<img alt="{{teamData[5]}} logo" style="height: 30px" src="../../assets/teamLogos/{{game.visitor_team.id}}.svg"></td>
          <td id="awayCol"> AWAY</td>
          <td id="timeCol"> {{!!(game.status == 'Final' || game.period != 4)  ? game.status : game.period + " |" + game.time}}</td>
        </tr>
      </table>
    </div>
</div>

<img class="loadingImg" *ngIf="loading" style="height: 100px" src="../../assets/loading.gif" alt="loading">